<!-- 
File name: login.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->
<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<main class="container">
  <!-- Message Area -->
  <% if(messages.length > 0) {%>
  <div class="alert alert-danger"><%= messages %></div>
  <% } %>

  <div class="row">
    <div class="offset-md-2 col-md-6">
      <h1>Login Account</h1>
      <br />
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            required
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </fieldset>

        <fieldset class="form-group text-right">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-tag"></i> Login
          </button>
          <a href="/register" class="btn btn-warning">
            <i class="bi bi-person-plus-fill"></i> Register</a
          >
        </fieldset>
      </form>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
