<!-- 
File name: register.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Oct 16,2022 
-->

<%- include ../partials/header.ejs %> <%- include ../partials/main_bar.ejs %>

<main class="content">
  <div class="row">
    <div class="offset-md-2 col-md-5">
      <h1>Register Account</h1>
      <br />
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            required
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="email">Email: </label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="displayName">Display Name: </label>
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="displayName"
            required
          />
        </fieldset>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success btn-lg" type="submit">
              <i class="fa-solid fa-user-plus"></i> Register
            </button>
          </div>
          <div class="col-md-6 text-right">
            <a href="/login" class="btn btn-warning btn-lg">
              <i class="fas fa-undo"></i> Cancel</a
            >
          </div>
        </div>

        <% if(messages.length > 0) {%>
        <div class="alert alert-danger"><%= messages %></div>
        <% } %>
      </form>
    </div>
  </div>
</main>

<%- include ../partials/bottom_bar.ejs %> <%- include ../partials/footer.ejs %>
