<!-- 
File name: list.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Oct 16,2022 
-->

<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="content">
  <div class="row">
    <div>
      <h1><%= title %></h1>
      <br />

      <table class="table table-bordered table-dark table-striped table-hover">
        <!-- Header Row-->
        <tr class="d-flex">
          <th class="text-center col-1">#</th>
          <th class="text-center col-2">Name</th>
          <th class="text-center col-2">Contact Number</th>
          <th class="text-center col-2">Email</th>
          <th class="text-center col-1"></th>
          <th class="text-center col-1"></th>
        </tr>

        <!-- Repeatable Template Row -->

        <% for(let count = 0; count < ContactList.length; count++) { %>
        <tr class="d-flex">
          <td class="text-center col-1"><%= count + 1 %></td>
          <td class="text-center col-2"><%= ContactList[count].name %></td>
          <td class="text-center col-2">
            <%= ContactList[count].contactNumber %>
          </td>
          <td class="text-center col-2"><%= ContactList[count].email %></td>
          <td class="text-center col-1">
            <a
              href="/contact-list/edit/<%= ContactList[count]._id %>"
              class="btn btn-primary"
            >
              <i class="fa-solid fa-user-pen"></i> Edit</a
            >
          </td>
          <td class="text-center col-1">
            <a
              href="/contact-list/delete/<%= ContactList[count]._id %>"
              class="btn btn-danger"
            >
              <i class="fa-solid fa-user-xmark"></i> Delete</a
            >
          </td>
        </tr>
        <% } %>

        <tr>
          <td class="text-center col-1" colspan="6">
            <a
              href="/contact-list/add"
              class="btn btn-success btn-lg"
              role="button"
            >
              <i class="fa-solid fa-user-plus"></i> Add</a
            >
          </td>
        </tr>
      </table>

      <br />
      <br />
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
